<h4 class="header">{{ pageTitle }}</h4>

<gexp-data-form></gexp-data-form>

<div class="row">
    <!--Line chart component-->
    <gexp-line-chart></gexp-line-chart>
    <!--Countries List component-->
    <gexp-countries-list></gexp-countries-list>
</div>

<div class="row">
    <!--Geo chart component-->
    <gexp-geo-chart></gexp-geo-chart>
    <gexp-aditional-info class="col-sm-2 col-sm-offset-1"></gexp-aditional-info>
</div>

<div class="row margin-left-fix">
    <gexp-aditional-info class="col-sm-6"></gexp-aditional-info>
    <gexp-aditional-info class="col-sm-6"></gexp-aditional-info>
</div>
